.gallery {
  z-index: 1;
  overflow: hidden;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #1e1e1c;
}

.gallery.x {
  display: none;
}

.col {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  opacity: 0;
  color: #b6fa00;
}

.image {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.o {
  width: 100%;
  height: 100%;
}

.body {
  background-color: #8e8e8e;
}

.footer {
  position: relative;
  top: -8.6rem;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60vw;
  min-height: 40vh;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #8e8e8e;
}

.section-6 {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.div-block-39 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block {
  margin-bottom: 64px;
  font-family: Neuemontreal, sans-serif;
  color: #1e1e1c;
  font-size: 2vw;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.01em;
}

.div-block-40 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-41 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25vw;
  height: 7rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #b6fa00;
  border-radius: 100vw;
  background-color: transparent;
  -webkit-transition: color 200ms ease, background-color 200ms ease;
  transition: color 200ms ease, background-color 200ms ease;
  font-family: Neuemontreal, sans-serif;
  color: #b6fa00;
  font-size: 2vw;
  cursor: pointer;
}

.div-block-41:hover {
  background-color: #b6fa00;
  color: #1e1e1c;
}

.text-block-2 {
  font-family: Neuemontreal, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.text-block-copy {
  display: inline-block;
  font-family: Neuemontreal, sans-serif;
  font-size: 2vw;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.01em;
}

@font-face {
  font-family: 'Neuemontreal';
  src: url('../fonts/NeueMontreal-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}